<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>发布</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/community.css">
  <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">社区</span>
      </button>
      <a class="navbar-brand" href="#">社区</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="搜索问题">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li th:if="${session.user != null}">
          <a href="/publish">发布</a>
        </li>
        <li class="dropdown" th:if="${session.user != null}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">消息中心</a></li>
            <li><a href="#">个人资料</a></li>
            <li><a href="#">退出登录</a></li>
          </ul>
        </li>
        <li th:if="${session.user == null}">
          <a href="https://github.com/login/oauth/authorize?client_id=Iv1.4f61be6432a12e00&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid main">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12">
      <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
      <hr>
      <form action="/publish" method="post">
        <div class="form-group">
          <label for="title">问题标题(简单扼要):</label>
          <input type="text" class="form-control" id="title" name="title" th:value="${title}" placeholder="问题标题">
        </div>
        <div class="form-group">
          <label for="title">问题补充(必填，请参照右侧提示):</label>
          <textarea class="form-control" name="description" id="description" th:text="${description}" cols="30" rows="10"></textarea>
        </div>
        <div class="form-group">
          <label for="tag">添加标签:</label>
          <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}" placeholder="输入标签，以','分隔">
        </div>

        <div class="container-fluid main">
          <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
              <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${error}" th:if="${error != null}"></div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
              <button type="submit" class="btn btn-success btn-publish">发布</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
      <h3>问题发起指南</h3>
      2010 年，Elasticsearch 首个版本发布，经过近 10 年的发展，Elastic Stack 系列开源项目的热度持续升温，Elastic 技术社区的用户量和开发者群体逐步壮大，也在不断进化。那么，这个群体是谁？他们在怎样使用 Elastic Stack ？他们又将如何进阶成长？
      为了洞察这个独特开发者群体的发展、技术应用现状，以及整个行业的发展趋势，Elastic 技术社区、阿里巴巴 Elasticsearch 技术团队和阿里云开发者社区联合首发《 Elasticsearch 中国开发者调查报告》。
    </div>
  </div>
</div>
</body>
</html>